<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="/static/peeps_2_black.png"/>
  <title> OneCommunity </title>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/script.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/static/js/content.js"></script>
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>

    <!-- JQUERY -->
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script type='text/javascript' src="/static/js/xdomain.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

  <!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>-->
  <!-- BOOTSTRAP CODE -->
  <!-- Latest compiled and minified CSS -->
  {# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> #}
  <!-- Optional theme -->
  {# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> #}
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!-- Google maps API-->
  <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>-->
  <!-- Get my IP -->
  <script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>


  <style type="text/css">
      html, body, #map-canvas { height: 100vh;; margin: 0; padding: 0; }
  </style>
  <!--script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPKCyC2GBCVF2hyj27uFITu2v2fQTSaWE">
  </script-->
    <script type="text/javascript">
      var map;
      var actMarkers = [];
      var plaMarkers = [];
      function initialize() {
        var MY_MAPTYPE_ID = 'custom_style';
        var featureOpts = [
          {
            "stylers": [
              { "saturation": -100 }
            ]
          },{
            "featureType": "poi.park",
            "stylers": [
              { "saturation": 100 },
              { "hue": "#00ff00" }
            ]
          }
        ];
        var mapOptions = {
          // center: { lat: -34.397, lng: 150.644},
          center: { lat: 1.352083, lng: 103.819836},
          zoom: 12,
          mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
          },
          mapTypeId: MY_MAPTYPE_ID
        };

        var myLatlng = new google.maps.LatLng(1, 102);
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var styledMapOptions = {
          name: 'Custom Style'
        };

        var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

        map.mapTypes.set(MY_MAPTYPE_ID, customMapType);

        var infowindow = new google.maps.InfoWindow({
          content: "COOL COMMUNITY CENTER"
        });
 
        acoords = getCoords("http://10.10.200.66:8080/activities");
        pcoords = getCoords("http://10.10.200.66:8080/places");

        for (i = 0; i < acoords.length; i++) {
          var lat = parseFloat(acoords[i].point.split(",")[0]);
          var lng = parseFloat(acoords[i].point.split(",")[1]);
          var myLatlng = new google.maps.LatLng(lat, lng);
          
          var marker = new google.maps.Marker({
            position: myLatlng,
            title: acoords[i].name,
            id: acoords[i].id,
            category: acoords[i].categ
          });

          if (marker.category == "volunteering") {
            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/ltblue-dot.png');
          } else if (marker.category == "activities") {
            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/blue-dot.png');
          } else if (marker.category == "community activity") {
            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/pink-dot.png');
          } else if (marker.category == "feedback") {
            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/purple-dot.png');
          } else if (marker.category == "community sharing") {
            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/green-dot.png');
          } else {
            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/yellow-dot.png');
          }
          actMarkers.push(marker);
          for (var i = 0; i < actMarkers.length; i++) {
            actMarkers[i].setMap(map);
          }
          // marker.setMap(map);

          google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent('<img src="http://10.10.200.66:8080/img/place/'+this.id+'"><p><p><b>'+this.title+'</b>');
            infowindow.open(map, this);
          });
          updateActivityTicker();
        }

        for (i = 0; i < pcoords.length; i++) {
          var lat = parseFloat(pcoords[i].point.split(",")[1]);
          var lng = parseFloat(pcoords[i].point.split(",")[0]);
          var myLatlng = new google.maps.LatLng(lat, lng);
          
          var marker = new google.maps.Marker({
            position: myLatlng,
            title: pcoords[i].name,
            id: pcoords[i].id,
            category: pcoords[i].categ
          });

          marker.setIcon('http://labs.google.com/ridefinder/images/mm_20_red.png');
          plaMarkers.push(marker);
          for (var i = 0; i < plaMarkers.length; i++) {
            plaMarkers[i].setMap(map);
          }
          // marker.setMap(map);

          google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent('<img src="http://10.10.200.66:8080/img/place/'+this.id+'"><p><p><b>'+this.title+'</b>');
            infowindow.open(map, this);
          });
        }

/////////////////

        var search_bar = document.getElementById('ideaLocation'),
          autocomplete = new google.maps.places.Autocomplete(search_bar),
          init = false

        console.log("initalizing maps")

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
          var place = autocomplete.getPlace()
          console.log(place)
          if (!place.geometry) {
            return
          }
            var returned_location = []
            console.log(place.geometry.location)
            for (var key in place.geometry.location)
              if (typeof place.geometry.location[key] == 'number' && returned_location.length < 2)
                returned_location.push(place.geometry.location[key])
              console.log("4")
            $('#new_idea_loc_lat').val(returned_location[0])  
            $('#new_idea_loc_long').val(returned_location[1])
            console.log(returned_location)
        })
    

      }
//////////////////
      function getCoords(url) {
        var coordsArray = [];
        $.ajax({
          url: url,
          async: false,
          dataType: 'json',
          success: function (json) {
            coordsArray = json;
          }
        });
        return coordsArray;
      }


      function stopBounce(mark) {
        if (mark.getAnimation() != null) {
          mark.setAnimation(null);
        }
      }

    /*
    *  add_marker
    *  This function will add a marker to the selected Google Map
    */
      function add_marker(lat, lng, activityName) {
        var latlng = new google.maps.LatLng( lat, lng );
        var marker = new google.maps.Marker({
          position  : latlng,
          map       : map,
          animation : google.maps.Animation.BOUNCE
        });
        
        marker.setIcon('http://maps.google.com/mapfiles/ms/micons/pink-dot.png')
        // create info window
        var infowindow = new google.maps.InfoWindow({
          content : activityName
        });
        // show info window when marker is clicked
        google.maps.event.addListener(marker, 'click', function() {
          stopBounce(marker);
          infowindow.open( map, marker );
        });
      }

      function toggleActivityMarkers() {
          if (actMarkers[0].getMap() != null) {
            var arg = null;
          } else {
            var arg = map;
          }
          for (var i = 0; i < actMarkers.length; i++) {
            actMarkers[i].setMap(arg);
          }
      }

      function togglePlaceMarkers() {
          if (plaMarkers[0].getMap() != null) {
            var arg = null;
          } else {
            var arg = map;
          }
          for (var i = 0; i < plaMarkers.length; i++) {
            plaMarkers[i].setMap(arg);
          }
      }

      google.maps.event.addDomListener(window, 'load', initialize);

//////////////////
      var interval = setInterval(updateActivityTicker, 5000);    
      function getActivityList() {
        $.ajax({
          url: 'http://10.10.200.66:8080/activities',
          async: false,
          dataType: 'json',
          success: function (json) {
            activityList = json;
          }
        });
        return activityList;
      }

      function updateActivityTicker() {
        var items = [];
        var cat_dict = new Array();
        cat_dict["volunteering"] = "volunteering_icon.png";
        cat_dict["activities"] = "activities_icon.png";
        cat_dict["community activity"] = "comm_acti_icon.png";
        cat_dict["community sharing"] = "comm_sharing_icon.jpg";
        cat_dict["feedback"] = "feedback_icon.png";
        cat_dict[""] = "peeps_2_black.png";

        $("#activity-ticker").empty();
        activityList = getActivityList();

        $.each(activityList.reverse(), function(i,item) {
          var icon_url = "static/" + cat_dict[item.categ];
          var img_str = "<img src=\"" + icon_url + "\" height=\"55\" width=\"55\" style=\"margin-top: 2px; margin-right: 0%\">"
          items.push('<li class = "list-group-item">' + 
                     img_str + item.name + '</br>' + 
                     item.desc + '</br>' +
                     '<b>Location</b>: ' + item.loc + '</br>' +
                     '<b>Start time</b>: ' + item.start + '</br>' +
                     '<b>End time</b>: ' + item.end + '</br>' +
                     '</li>')
        });

        $('#activity-ticker').append(items.join(''));
      }

    </script>

</head>
<body>
     {#  <div class="header1">
      </div> #}
  
  <nav class="navbar navbar-default navbar-static-top" >
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style = "margin-left : 75%">
        OneCommunity 
        {# <img id = "logo" src="static/bee_wings.png" alt="icon here" style = "margin-left:50px " > #}
      </a>
    </div>

    <img src="/static/peeps_2_black.png" height="40" width="40" style = "margin-left: 10%; margin-top : 5px; margin-right : 55%" >
    <!-- Collect the nav links, forms, and other content for toggling -->
    <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" style = "height: 55 ; width : 55; margin-top: 2px; margin-right: 0%"></button>
    <img src="http://10.10.200.66:8080/img/user/2" height="55" width="55" style = "margin-top: 2px; margin-right: 0%" >
    Ethan Chan
  {#         <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>

            <!-- <span class="glyphicon glyphicon-user fs-15"></span> <b class="caret"></b> -->
            <img src="http://10.10.200.66:8080/img/user/2" height="55" width="55" ><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/profile">Profile</a></li>
            <li class="divider"></li>
            <li><a href="/accounts/logout/">Logout</a></li>
          </ul>
        </li> #}


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

{#       <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal" style = "height: 55 ; width : 55;">
          </button>
        </li>
      </ul> #}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


      <div class="row">

        <div class="col-lg-2">hello
          <div id="panel">
            <button onclick="toggleActivityMarkers()">Toggle Activity Markers</button>
            <button onclick="togglePlaceMarkers()">Toggle Place Markers</button>
          </div>
        </div>
        <div class="col-md-8" >
          <form id="phrase_form">
            <div class="input-group" id="text_input_container">
              <input type="text" id="text_input" class="form-control" placeholder="Search for an Activity.." aria-describedby="basic-addon1"> </div>
          </form>
          <body>
            <div id = "map-canvas"> </div>
          </body>
        </div>
        <div class="col-lg-2">

            <ul class = "list-group" id = "activity-ticker">
               Populating...
            </ul>
        </div>
      </div>
    </div>

  </div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Post to the Community!</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" id="new-idea">
          <input type="hidden" name="upvotes" value="0">
          <div class="form-group">
            <label for="ideaTitle" class="col-sm-2 control-label">Activity Name</label>
            <div class="col-sm-10">
              <input name="activity_name" type="text" class="form-control" id="activity_name" placeholder="Title">
            </div>
          </div>

          <div class="form-group">
            <label for="ideaTitle" class="col-sm-2 control-label">Capacity</label>
            <div class="col-sm-10">
              <input name="capacity" type="text" class="form-control" id="capacity" placeholder="Number of People">
            </div>
          </div>
          <div class="form-group">
            <label for="ideaDesc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea name="description" class="form-control" id="description" rows="10" placeholder = "Briefly describe your activity"></textarea>
            </div>
          </div>

           

          <div class="form-group">
            <label for="ideaLocation" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <input name="location" type="text" class="form-control" id="ideaLocation" placeholder="Location" autocomplete = "on">
              <input type="hidden" name="loclat" id="new_idea_loc_lat">
              <input type="hidden" name="loclong" id="new_idea_loc_long">
            </div>
          </div>
      
          <div class="form-group">
            <label for="ideaCat" class="col-sm-2 control-label">Start Time</label>
            <div class="col-sm-10">
              <input name="start_time" type="text" class="form-control" id="start_time" placeholder="Start Time">
            </div>
          </div>

          <div class="form-group">
            <label for="ideaCat" class="col-sm-2 control-label">End Time</label>
            <div class="col-sm-10">
              <input name="end_time" type="text" class="form-control" id="end_time" placeholder="End Time">
            </div>
          </div>
    
          <div class="form-group">
            <label for="ideaCat" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
              <select class="form-control" id="category" rows="10" name="category">
                <option value="activities"> Activities   </option>
                <option value="community activity"> Community Activities   </option>
                <option value="volunteering"> Volunteering   </option>
                <option value="sharing"> Sharing   </option>
                <option value="feedback"> Feedback   </option>
              </select>
            </div>
          </div>
           
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <input type="button" value = "Let's Go!" id="add_activity" method="POST" form="new-idea" class="btn btn-primary" data-dismiss="modal" onclick="add_marker(document.getElementById('new_idea_loc_lat').value, document.getElementById('new_idea_loc_long').value, document.getElementById('activity_name').value);">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



</body>
</html>



{# id int
owner int
desc stirng
loc string
point string
start string
end string
parts []int
cap int #}

